<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ReactJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.19.0/babel.js"></script>
</head>
<body>
    <main id="App">

    </main>
    <script type="text/x-jsrender">
        let Test = React.createClass({
            render: function () {
                return (
                    <div>Test</div>
                    );
            }
        });

        ReactDOM.render(
            <Test />,
            document.getElementById('App');
            );
    </script>
</body>
</html>
