<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>eShop</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/ads-controller.js"></script>
</head>
<body ng-app="eShop">
    <p><a href="#/">Main</a></p>

    <a href="#ads">Ads</a>

    <div ng-view>

    </div>
</body>
</html>
