<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular HTTP</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link href="styles/main.css" rel="stylesheet" />
</head>
<body>
    <main ng-app="myApp" ng-controller="myCtrl">
        <div class="container">
            <h3>Http Example</h3>
            <p>Data: {{ data }}</p>
            <p>Status Code: {{ status }}</p>
            <p>Status Text: {{ statusText }}</p>
        </div>

        <div class="container">
            <h3>Reading From JSON</h3>
            <ul>
                <li ng-repeat="x in myData">
                    {{ x.Name + ', ' + x.Country }}
                </li>
            </ul>
        </div>
    </main>

    <script src="apps/base-app.js"></script>
    <script src="controllers/http-controller.js"></script>
</body>
</html>
